[Network]
  # The address of the server, including the port.
  Address = ":19132"

[Server]
  # The name shown in the Minecraft server list.
  Name = "${input.server_name}"
  # Require players to be connected to Xbox Live.
  AuthEnabled = true
  DisableJoinQuitMessages = false
  MuteEmoteChat = false

[World]
  Folder = "world"
  SaveData = true

[Players]
  MaxCount = 0
  MaximumChunkRadius = 32
  SaveData = true
  Folder = "players"

[Resources]
  AutoBuildPack = true
  Folder = "resources"
  Required = true
